<div class="container pt-3 pb-5">
	<h1>Admin Dashboard</h1><hr>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" data-target="#home">Unverified Doctors</a></li>
			  <li><a data-toggle="tab" data-target="#menu1">Verified Doctors</a></li>
			</ul>

			<div class="tab-content">
			  <div id="home" class="tab-pane fade in active">
			  		<div class="pt-3">
					  	<div class="text-center">
					  		<h3>Unverified Doctors</h3>
					  		<small>You can verify them by clicking the check button or if you want to thoroughly check it out, you can click the see more button</small>
					  	</div>
					  	<div class="table-responsive pt-3">
							<table class="table table-striped">
								<tr>
									<th>#</th>
									<th>Avatar</th>
									<th>Doctor</th>
									<th>Specialization</th>
									<th>Clinic Name</th>
									<th>Action</th>
								</tr>
								<tr ng-repeat="name in [0, 1, 2, 3, 4, 5] track by $index">
									<td>{{($index + 1)}}</td>
									<td><img src="http://lorempixel.com/50/50/people"></td>
									<td>Ariessa Lane Ko</td>
									<td>Cardiology</td>
									<td>Happy Clinic</td>
									<td>
										<div class="btn-group">
										  <a href="#" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></a>
										  <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
										  <a href="#/admin/doctor-profile/2" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-option-horizontal"></span></a>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
			  </div>
			  <div id="menu1" class="tab-pane fade">
			    <div class="pt-3">
					  	<div class="text-center">
						  	<h3>Verified Accounts</h3>
						  	<small>Here are the list of doctors that have already been verified</small>
					  	</div>
					  	<div class="table-responsive pt-3">
							<table class="table table-striped">
								<tr>
									<th>#</th>
									<th>Clinic Name</th>
									<th>Doctor</th>
									<th>Specialization</th>
									<th>Action</th>
								</tr>
								<tr ng-repeat="name in [0, 1, 2, 3, 4, 5] track by $index">
									<td>{{($index + 1)}}</td>
									<td>Happy Clinic</td>
									<td>Ariessa Lane Ko</td>
									<td>Cardiology</td>
									<td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-option-horizontal"></span></a></td>
								</tr>
							</table>
						</div>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="row">
				<div class="col-xs-12 col-md-12 text-center">
					<div style="border: 1px solid #eee; padding: 25px; margin: 10px 0px;">
						<h3>Unverified Doctors</h3>
						<h4><small>Number of Unverified Doctors</small></h4>
						<h1>202</h1>
					</div>
				</div>
				<div class="col-xs-12 col-md-12 text-center">
					<div style="border: 1px solid #eee; padding: 25px; margin: 10px 0px;">
						<h3>Verified Doctors</h3>
						<h4><small>Number of Unverified Doctors</small></h4>
						<h1>205</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 