/*modified bootstrap*/
.navbar-inverse {background-color: #002544;border-color: #002544; border-radius: 0px; margin-bottom: 0px;}


/*customized css*/
body { display: flex; min-height: 100vh; flex-direction: column; }
main { flex: 1 0 auto; }

.admin-card-container { height: auto; width: 500px; border: 1px solid #eee; background-color: #fbfbfb; display: inline-block; margin: 5px; }
.admin-icon-stat-container img { height: 200px; width: 500px; }
.doctor-about-container {background-color: #002544;}
.doctor-banner { display: flex; height: 100%; justify-content: center; align-items: center;text-align: center;}
.doctor-border-right { border-right: 1px solid #eee; }
.doctor-bordify { width: auto; height: auto; padding: 15px; border: 1px solid #eee; margin: 10px 0px; }
.doctor-card-container a { text-decoration: none; color: #333; }
.doctor-card-container { height: auto; width: 200px; border: 1px solid #eee; background-color: #fbfbfb; display: inline-block; margin: 5px; }
.doctor-card-container img:hover { transform: scale(1.1); }
.doctor-flat { border-radius: 0px; }
.doctor-icon-container { height: 100%; width: 100%; padding: 10px; text-align: center; }
.doctor-icon-container img { height: 100px; }
.doctor-icons { height: 150px;width: auto; -webkit-transition: -webkit-transform .8s ease-in-out; transition: transform .8s ease-in-out; }
.doctor-icons:hover { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
.doctor-image-container { height: 200px; width: auto; margin: 0px auto; border: 1px solid #eee; padding: 15px; text-align: center; }
.doctor-image-container img { height: 100%; width: auto; }
.doctor-map-container { height: 100vh; width: auto; background-color: #eee; }
.profile-map-container { height: 50vh; width: auto; background-color: #eee; }
.doctor-sticky-header { height: 20px; margin: -20px -20px 0px -20px; background-color: #ffb900;}
.doctor-orange { color: #f1811e; }
.doctor-sticky-note { height: auto; width: 300px; padding: 20px; background-color: #fff2b5; margin: 20px auto; }
.doctor-text-background { background-color: rgba(0, 37, 68, 0.88); color: white; padding: 5px; }
.doctor-white { color: #fff; }







.pt-1 { padding-top: 10px; }
.pt-2 { padding-top: 20px; }
.pt-3 { padding-top: 30px; }
.pt-4 { padding-top: 40px; }
.pt-5 { padding-top: 50px; }

.pb-1 { padding-bottom: 10px; }
.pb-2 { padding-bottom: 20px; }
.pb-3 { padding-bottom: 30px; }
.pb-4 { padding-bottom: 40px; }
.pb-5 { padding-bottom: 50px; }

.p-1 { padding: 10px; }
.p-2 { padding: 20px; }
.p-3 { padding: 30px; }
.p-4 { padding: 40px; }
.p-5 { padding: 50px; }


/*snippets*/
footer {background-color: #002544;min-height:350px;}
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}
.footerleft p { color:#fff; font-size:12px !important; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}
.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }
.social:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1);  -o-transform: scale(1.1); }
.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}
.copyright { min-height:40px; background-color:#000000;}
.copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
.heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
.post p { font-size:12px; color:#FFF; line-height:20px;}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#FFF;  font-size:12px;}

