<div class="p-5" ng-show="appointmentUpcoming.loading">
    <div class="wrap-loading">
        <div class="loading loading-3"></div>
    </div>
</div>

<div class="container pt-3 pb-5" ng-hide="appointmentUpcoming.loading">
    <h1>Upcoming Appointments</h1>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="list-group">
                <div ng-repeat="appointment in appointmentUpcoming.list track by $index" class="list-group-item">
                    <span class="pull-right"><small>{{appointmentUpcoming.convertDate(appointment.date[appointment.date.length - 1]) | date : format : timezone}}</small></span>
                    <h4>{{appointment.user.username}}</h4>
                    <p><span style="color: gray;">Purpose</span>: {{appointment.purpose}} <br />
                        <span style="color: gray;">Payment Method</span>: {{appointment.trans_type}} <br />
                    </p>
                    <div class="text-right">
                        <button ng-click="appointmentUpcoming.acknowledge($index);" class="btn btn-success btn-sm">Acknowledge</button>
                    </div>
                </div>
            </div>
            <p ng-show="appointmentUpcoming.list.length < 1">No upcoming appointments.</p>
        </div>
    </div>
</div>