<div class="p-5" ng-show="appointmentRequests.loading">
    <div class="wrap-loading">
        <div class="loading loading-3"></div>
    </div>
</div>

<div class="container pt-3 pb-5" ng-hide="appointmentRequests.loading">
    <h1>Patient Requests</h1>

    <hr />
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="list-group" ng-repeat="appointment in appointmentRequests.list track by $index">
                <div class="list-group-item">
                    <span class="pull-right"><small>{{appointmentRequests.convertDate(appointment.date[appointment.date.length - 1]) | date : format : timezone}}</small></span>
                    <h4>{{appointment.user.username}}</h4>
                    <p><span style="color: gray;">Purpose</span>: {{appointment.purpose}} <br />
                        <span style="color: gray;">Payment Method</span>: {{appointment.trans_type}} <br />
                    </p>
                    <div class="text-right">
                        <button ng-click="appointmentRequests.accept($index);" class="btn btn-success btn-sm">Accept</button>
                        <button ng-click="appointmentRequests.decline($index);" class="btn btn-danger btn-sm">Decline</button>
                    </div>
                </div>
            </div>
            <p ng-show="appointmentRequests.list.length < 1">No requests yet.</p>
        </div>
    </div>
</div>