<div class="alert alert-danger" ng-show="clinicProfile.errorMessage">
    {{clinicProfile.errorMessage}}
</div>


<div ng-hide="clinicProfile.errorMessage">
    <div class="p-5" ng-show="clinicProfile.loading">
        <div class="wrap-loading">
            <div class="loading loading-3"></div>
        </div>
    </div>
    <div ng-hide="clinicProfile.loading">
        <div class="profile-map-container" style="min-height: 400px;">
            <div id="map" style="height: 100%; width: 100%;"></div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-repeat="travelMode in clinicProfile.travelModes track by $index">
                    <button type="button" class="btn btn-default card-btn" ng-click="clinicProfile.getDirection(travelMode.googleConstant);">
                        <span class="material-icons">{{travelMode.materialIcon}}</span><br />
                        {{travelMode.name}}
                    </button>
                </div>
            </div>
        </div>
        <div class="pt-1"></div>
        <div class="container pt-3 pb-5">
            <ol class="breadcrumb">
                <li><a href="#/user/dashboard">Dashboard</a></li>
                <li class="active">{{clinicProfile.profile.name}}</li>
            </ol>
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="doctor-bordify" style="margin-top: 0px;">
                        <div class="text-center">
                            <h2>Clinic Info</h2>
                            <small>Basic and contact information of the clinic</small>
                        </div><hr>
                        <p><strong>Clinic:</strong> {{clinicProfile.profile.name}}</p>
                        <p><strong>Address:</strong> {{clinicProfile.profile.address}}</p>
                        <p><strong>Contact:</strong> {{clinicProfile.profile.contact_number}}</p>
                        <div class="p-1 text-right">
                            <button class="btn btn-primary" ng-click="clinicProfile.getDirection();">Get Direction</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="doctor-bordify" style="margin-top: 0px;">
                        <div class="text-center">
                            <h2>List of Doctors</h2>
                            <small>List of doctors working here at Happy Clinic</small>
                        </div><hr>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <th>#</th>
                                    <th>Doctor Name</th>
                                    <th>Specialty</th>
                                    <th>Action</th>
                                </tr>
                                <tr ng-repeat="doctor in clinicProfile.profile.doctors track by $index">
                                    <td>{{($index + 1)}}</td>
                                    <td>{{doctor.username}}</td>
                                    <td><span class="label label-default">{{doctor.specialty}}</span></td>
                                    <td><a href="#/user/doctor-profile/{{doctor.uid}}" class="btn btn-primary btn-sm">View</a></td>
                                </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>